# EXPRESS SETTINGS
PORT=<порт_приложения>

# DATABASE SETTINGS
DATABASE_TYPE=<тип_базы_данных>
MYSQL_USER=<имя_пользователя_mysql>
MYSQL_PASSWORD=<пароль_пользователя_mysql>
MYSQL_HOST=<хост_mysql>
MYSQL_PORT=<порт_mysql>
MYSQL_DATABASE=<имя_базы_данных>
DATABASE_URL="${DATABASE_TYPE}://${MYSQL_USER}:${MYSQL_PASSWORD}@${MYSQL_HOST}:${MYSQL_PORT}/${MYSQL_DATABASE}"

# JWT SETTINGS
JWT_SECRET_KEY=<секретный_ключ_jwt>
ACCESS_TOKEN_EXPIRES_IN=<время_жизни_токена_доступа>
REFRESH_TOKEN_EXPIRES_IN=<время_жизни_токена_обновления>

# REFRESH TOKEN SETTINGS
REFRESH_TOKEN_EXPIRES_IN_MILLISECONDS=<время_жизни_токена_обновления_в_миллисекундах>

# COOKIES SETTINGS
ACCESS_TOKEN_MAX_AGE=<максимальное_время_жизни_токена_доступа>
SESSION_ID_MAX_AGE=<максимальное_время_жизни_id_сессии>

# MULTER SETTINGS
STORAGE_DIR=<директория_для_загрузки_файлов>
FILE_MAX_SIZE=<максимальный_размер_файла_в_байтах>
